In [3]:
import sys
import pandas as pd
sys.path.append('/Applications/Stata/utilities')
from pystata import config
config.init('se')

from pystata import stata

  ___  ____  ____  ____  ____ ©
 /__    /   ____/   /   ____/      17.0
___/   /   /___/   /   /___/       SE—Standard Edition

 Statistics and Data Science       Copyright 1985-2021 StataCorp LLC
                                   StataCorp
                                   4905 Lakeway Drive
                                   College Station, Texas 77845 USA
                                   800-STATA-PC        https://www.stata.com
                                   979-696-4600        stata@stata.com

Stata license: Unlimited-user network, expiring 21 Sep 2023
Serial number: 401709301720
  Licensed to: Gabriel Dias Medeiros Pereira
               ISEG

Notes:
      1. Unicode is supported; see help unicode_advice.
      2. Maximum number of variables is set to 5,000; see help set_maxvar.

In [4]:
df = pd.read_stata("blundbondbalanc 2.dta")
df["year"] = df["year"].dt.year

In [17]:
df

,id,ly,ln,lk,year,D83,D84,D85,D86,D87,D88,D89
0,886,4.579228,3.480440,3.254327,1982,0,0,0,0,0,0,0
1,886,4.472189,3.357781,3.346090,1983,1,0,0,0,0,0,0
2,886,4.567035,3.360103,3.485277,1984,0,1,0,0,0,0,0
3,886,4.885006,3.315239,3.667849,1985,0,0,1,0,0,0,0
4,886,4.999058,3.380052,3.831042,1986,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3931,989349,7.450092,5.983883,6.155892,1985,0,0,1,0,0,0,0
3932,989349,7.576933,5.971417,6.210421,1986,0,0,0,1,0,0,0
3933,989349,7.767560,5.923970,6.297313,1987,0,0,0,0,1,0,0
3934,989349,7.856476,6.002237,6.334439,1988,0,0,0,0,0,1,0
3935,989349,7.264642,5.877099,6.275347,1989,0,0,0,0,0,0,1

## Question 1)

In [5]:
stata.pdataframe_to_data(df, force=True)
stata.run(
    ''' 
    xtset id year, yearly
    reg ly l.ly ln l.ln lk l.lk D84-D89, vce(cluster id)
    estimates store POLS        
    '''
)

.
.     xtset id year, yearly

Panel variable: id (strongly balanced)
 Time variable: year, 1982 to 1989
         Delta: 1 year

.     reg ly l.ly ln l.ln lk l.lk D84-D89, vce(cluster id)

Linear regression                               Number of obs     =      3,444
                                                F(11, 491)        =   59731.41
                                                Prob > F          =     0.0000
                                                R-squared         =     0.9942
                                                Root MSE          =     .15155

                                   (Std. err. adjusted for 492 clusters in id)
------------------------------------------------------------------------------
             |               Robust
          ly | Coefficient  std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
          ly |
         L1. |   .9564256   .0062554   152.90   0.000     .9441351    .9687162
             |
          ln |
         --. |   .4153361    .023799    17.45   0.000     .3685757    .4620965
         L1. |  -.3915631   .0231784   -16.89   0.000    -.4371042    -.346022
             |
          lk |
         --. |   .2779901   .0392117     7.09   0.000     .2009466    .3550335
         L1. |  -.2653785   .0396475    -6.69   0.000    -.3432781   -.1874789
             |
         D84 |   .1058076   .0107729     9.82   0.000     .0846408    .1269743
         D85 |   .0374062   .0114001     3.28   0.001     .0150071    .0598052
         D86 |   .0560866   .0113762     4.93   0.000     .0337346    .0784386
         D87 |   .0993791    .010093     9.85   0.000     .0795484    .1192099
         D88 |   .0814873   .0101158     8.06   0.000     .0616117    .1013629
         D89 |   .0330753   .0105126     3.15   0.002     .0124199    .0537306
       _cons |   .0508464   .0147775     3.44   0.001     .0218115    .0798814
------------------------------------------------------------------------------

.     estimates store POLS

.
.

- Estimating by fixed effects

In [6]:
stata.pdataframe_to_data(df, force=True)
stata.run(
    ''' 
    xtset id year, yearly
    xtreg ly l.ly ln l.ln lk l.lk D84-D89, fe vce(cluster id)
    estimates store FE        
    '''
)

.
.     xtset id year, yearly

Panel variable: id (strongly balanced)
 Time variable: year, 1982 to 1989
         Delta: 1 year

.     xtreg ly l.ly ln l.ln lk l.lk D84-D89, fe vce(cluster id)

Fixed-effects (within) regression               Number of obs     =      3,444
Group variable: id                              Number of groups  =        492

R-squared:                                      Obs per group:
     Within  = 0.7081                                         min =          7
     Between = 0.9941                                         avg =        7.0
     Overall = 0.9897                                         max =          7

                                                F(11,491)         =     331.59
corr(u_i, Xb) = 0.9276                          Prob > F          =     0.0000

                                   (Std. err. adjusted for 492 clusters in id)
------------------------------------------------------------------------------
             |               Robust
          ly | Coefficient  std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
          ly |
         L1. |    .550437   .0222981    24.69   0.000     .5066255    .5942485
             |
          ln |
         --. |   .3855652   .0249591    15.45   0.000     .3365254     .434605
         L1. |  -.2221847   .0245921    -9.03   0.000    -.2705035   -.1738659
             |
          lk |
         --. |    .423329   .0852401     4.97   0.000     .2558486    .5908093
         L1. |   -.356746   .0772825    -4.62   0.000    -.5085912   -.2049009
             |
         D84 |   .0971509   .0088385    10.99   0.000     .0797849    .1145168
         D85 |   .0657979   .0106529     6.18   0.000      .044867    .0867289
         D86 |   .0822508   .0118876     6.92   0.000      .058894    .1056076
         D87 |   .1294448   .0109197    11.85   0.000     .1079897    .1508999
         D88 |   .1460933   .0126098    11.59   0.000     .1213174    .1708692
         D89 |    .118153   .0133378     8.86   0.000     .0919468    .1443592
       _cons |   1.527745   .0968651    15.77   0.000     1.337424    1.718066
-------------+----------------------------------------------------------------
     sigma_u |  .42506735
     sigma_e |  .13408228
         rho |  .90950353   (fraction of variance due to u_i)
------------------------------------------------------------------------------

.     estimates store FE

.
.

- First differences

In [7]:
stata.pdataframe_to_data(df, force=True)
stata.run(
    ''' 
    xtset id year, yearly
    reg D.(ly l.ly ln l.ln lk l.lk D85-D89), nocons vce(cluster id)
    estimates store FD     
    '''
)

.
.     xtset id year, yearly

Panel variable: id (strongly balanced)
 Time variable: year, 1982 to 1989
         Delta: 1 year

.     reg D.(ly l.ly ln l.ln lk l.lk D85-D89), nocons vce(cluster id)

Linear regression                               Number of obs     =      2,952
                                                F(10, 491)        =      92.65
                                                Prob > F          =     0.0000
                                                R-squared         =     0.3326
                                                Root MSE          =     .14912

                                   (Std. err. adjusted for 492 clusters in id)
------------------------------------------------------------------------------
             |               Robust
        D.ly | Coefficient  std. err.      t    P>|t|     [95% conf. interval]
-------------+----------------------------------------------------------------
          ly |
         LD. |  -.0481349    .023618    -2.04   0.042    -.0945397   -.0017301
             |
          ln |
         D1. |   .3613453   .0269482    13.41   0.000     .3083974    .4142932
         LD. |   .0948679    .023779     3.99   0.000     .0481468     .141589
             |
          lk |
         D1. |   .6017026   .0937748     6.42   0.000     .4174531    .7859521
         LD. |  -.3178057   .0750133    -4.24   0.000    -.4651923   -.1704191
             |
         D85 |
         D1. |   .0072105     .00775     0.93   0.353    -.0080168    .0224378
             |
         D86 |
         D1. |   .0136521   .0123988     1.10   0.271    -.0107091    .0380133
             |
         D87 |
         D1. |   .0607204   .0152415     3.98   0.000     .0307738     .090667
             |
         D88 |
         D1. |   .1126837   .0176334     6.39   0.000     .0780376    .1473299
             |
         D89 |
         D1. |   .1019289   .0194654     5.24   0.000     .0636831    .1401748
------------------------------------------------------------------------------

.     estimates store FD

.
.

- Comparing three models

In [8]:
stata.run(
    ''' 
    estimates table POLS FE FD, star(.1 .05 .01)    
    '''
)

.
.     estimates table POLS FE FD, star(.1 .05 .01)

--------------------------------------------------------------
    Variable |     POLS             FE              FD
-------------+------------------------------------------------
          ly |
         L1. |  .95642564***    .55043701***
         LD. |                                  -.0481349**
             |
          ln |
         --. |  .41533612***    .38556523***
         L1. | -.39156312***   -.22218468***
         D1. |                                   .3613453***
         LD. |                                  .09486793***
             |
          lk |
         --. |  .27799009***    .42332897***
         L1. | -.26537853***   -.35674603***
         D1. |                                  .60170257***
         LD. |                                 -.31780568***
             |
         D84 |  .10580755***    .09715085***
         D85 |  .03740616***    .06579794***
         D86 |  .05608661***    .08225079***
         D87 |  .09937914***    .12944479***
         D88 |  .08148729***    .14609328***
         D89 |  .03307527***    .11815301***
             |
         D85 |
         D1. |                                  .00721047
             |
         D86 |
         D1. |                                   .0136521
             |
         D87 |
         D1. |                                  .06072037***
             |
         D88 |
         D1. |                                  .11268374***
             |
         D89 |
         D1. |                                  .10192894***
             |
       _cons |  .05084643***    1.5277449***
--------------------------------------------------------------
                           Legend: * p<.1; ** p<.05; *** p<.01

.
.

## Question 2)

- Arellano and Bond GMM estimation

In [17]:
stata.run(
    ''' 
    ssc install xtabond2, replace    
    '''
)

.
.     ssc install xtabond2, replace
checking xtabond2 consistency and verifying not already installed...
installing into /Users/gabrieldiasmp/Library/Application Support/Stata/ado/plus
> /...
installation complete.

.
.

2a)
* The method used is GMM in one step with robust covariance estimation by clusters (robust)
* ly L1 is out estimation for alpha, alpha = 0.3607

In [12]:
stata.run(
    ''' 
    xtabond2 ly l.ly ln l.ln lk l.lk D85-D89, iv(ln lk D85-D89) gmm(l.ly) noleveleq robust    
    '''
)

.
.     xtabond2 ly l.ly ln l.ln lk l.lk D85-D89, iv(ln lk D85-D89) gmm(l.ly) nol
> eveleq robust
Favoring space over speed. To switch, type or click on mata: mata set matafavor
>  speed, perm.
Warning: Two-step estimated covariance matrix of moments is singular.
  Using a generalized inverse to calculate robust weighting matrix for Hansen t
> est.
  Difference-in-Sargan/Hansen statistics may be negative.

Dynamic panel-data estimation, one-step difference GMM
------------------------------------------------------------------------------
Group variable: id                              Number of obs      =      2952
Time variable : year                            Number of groups   =       492
Number of instruments = 28                      Obs per group: min =         6
Wald chi2(0)  =         .                                      avg =      6.00
Prob > chi2   =         .                                      max =         6
------------------------------------------------------------------------------
             |               Robust
          ly | Coefficient  std. err.      z    P>|z|     [95% conf. interval]
-------------+----------------------------------------------------------------
          ly |
         L1. |   .3607257    .094404     3.82   0.000     .1756972    .5457542
             |
          ln |
         --. |   .3571752   .0363046     9.84   0.000     .2860196    .4283309
         L1. |  -.2724825   .1588374    -1.72   0.086     -.583798     .038833
             |
          lk |
         --. |   .2467726   .2049215     1.20   0.229    -.1548661    .6484114
         L1. |   .0348403   .2254312     0.15   0.877    -.4069967    .4766773
             |
         D85 |  -.0039102   .0143686    -0.27   0.786    -.0320722    .0242518
         D86 |   .0050872   .0170338     0.30   0.765    -.0282985    .0384729
         D87 |   .0463691   .0276202     1.68   0.093    -.0077656    .1005038
         D88 |   .0518713   .0416839     1.24   0.213    -.0298278    .1335703
         D89 |   .0257267   .0456622     0.56   0.573    -.0637696    .1152229
------------------------------------------------------------------------------
Instruments for first differences equation
  Standard
    D.(ln lk D85 D86 D87 D88 D89)
  GMM-type (missing=0, separate instruments for each period unless collapsed)
    L(1/7).L.ly
------------------------------------------------------------------------------
Arellano-Bond test for AR(1) in first differences: z =  -3.53  Pr > z =  0.000
Arellano-Bond test for AR(2) in first differences: z =  -0.82  Pr > z =  0.410
------------------------------------------------------------------------------
Sargan test of overid. restrictions: chi2(18)   = 179.26  Prob > chi2 =  0.000
  (Not robust, but not weakened by many instruments.)
Hansen test of overid. restrictions: chi2(18)   = 111.55  Prob > chi2 =  0.000
  (Robust, but weakened by many instruments.)

Difference-in-Hansen tests of exogeneity of instrument subsets:
  iv(ln lk D85 D86 D87 D88 D89)
    Hansen test excluding group:     chi2(11)   =  60.07  Prob > chi2 =  0.000
    Difference (null H = exogenous): chi2(7)    =  51.48  Prob > chi2 =  0.000


.
.

In [18]:
## Running equation 8 of the exercise
## Two-step GMM, endogenous variables, windmeijer correction

stata.run(
    ''' 
    xtabond2 ly l.ly ln l.ln lk l.lk D85-D89, iv(D85-D89) gmm(l.ly, lag(4 .)) gmm(ln lk, lag(3 .)) noleveleq twostep robust     
    '''
)

.
.     xtabond2 ly l.ly ln l.ln lk l.lk D85-D89, iv(D85-D89) gmm(l.ly, lag(4 .))
>  gmm(ln lk, lag(3 .)) noleveleq twostep robust
Favoring space over speed. To switch, type or click on mata: mata set matafavor
>  speed, perm.
Warning: Two-step estimated covariance matrix of moments is singular.
  Using a generalized inverse to calculate optimal weighting matrix for two-ste
> p estimation.
  Difference-in-Sargan/Hansen statistics may be negative.

Dynamic panel-data estimation, two-step difference GMM
------------------------------------------------------------------------------
Group variable: id                              Number of obs      =      2952
Time variable : year                            Number of groups   =       492
Number of instruments = 41                      Obs per group: min =         6
Wald chi2(0)  =         .                                      avg =      6.00
Prob > chi2   =         .                                      max =         6
------------------------------------------------------------------------------
             |              Corrected
          ly | Coefficient  std. err.      z    P>|z|     [95% conf. interval]
-------------+----------------------------------------------------------------
          ly |
         L1. |   .4012062   .1551151     2.59   0.010     .0971863    .7052261
             |
          ln |
         --. |   .2976203   .1447838     2.06   0.040     .0138492    .5813913
         L1. |  -.0952081   .1271022    -0.75   0.454    -.3443237    .1539076
             |
          lk |
         --. |   .3614704   .4528362     0.80   0.425    -.5260724    1.249013
         L1. |  -.1972677   .3601123    -0.55   0.584    -.9030749    .5085394
             |
         D85 |  -.0354389   .0155798    -2.27   0.023    -.0659747    -.004903
         D86 |   -.018399   .0201085    -0.91   0.360    -.0578109     .021013
         D87 |   .0264229   .0376444     0.70   0.483    -.0473588    .1002045
         D88 |    .051239   .0426032     1.20   0.229    -.0322617    .1347398
         D89 |    .022516   .0499138     0.45   0.652    -.0753132    .1203453
------------------------------------------------------------------------------
Instruments for first differences equation
  Standard
    D.(D85 D86 D87 D88 D89)
  GMM-type (missing=0, separate instruments for each period unless collapsed)
    L(3/7).(ln lk)
    L(4/7).L.ly
------------------------------------------------------------------------------
Arellano-Bond test for AR(1) in first differences: z =  -2.29  Pr > z =  0.022
Arellano-Bond test for AR(2) in first differences: z =  -1.29  Pr > z =  0.196
------------------------------------------------------------------------------
Sargan test of overid. restrictions: chi2(31)   =  67.49  Prob > chi2 =  0.000
  (Not robust, but not weakened by many instruments.)
Hansen test of overid. restrictions: chi2(31)   =  42.61  Prob > chi2 =  0.080
  (Robust, but weakened by many instruments.)

Difference-in-Hansen tests of exogeneity of instrument subsets:
  gmm(L.ly, lag(4 .))
    Hansen test excluding group:     chi2(25)   =  31.82  Prob > chi2 =  0.163
    Difference (null H = exogenous): chi2(6)    =  10.79  Prob > chi2 =  0.095
  gmm(ln lk, lag(3 .))
    Hansen test excluding group:     chi2(1)    =   0.17  Prob > chi2 =  0.684
    Difference (null H = exogenous): chi2(30)   =  42.44  Prob > chi2 =  0.066
  iv(D85 D86 D87 D88 D89)
    Hansen test excluding group:     chi2(26)   =  39.25  Prob > chi2 =  0.046
    Difference (null H = exogenous): chi2(5)    =   3.36  Prob > chi2 =  0.645


.
.

## Question 3)

In [19]:
##Blundell & Bond 
##one-step GMM, robust s.e., predetermined Variables 

stata.run('''
    xtabond2 ly l.ly ln l.ln lk l.lk D85-D89, iv(D85-D89) gmm(l.ly) gmm(ln lk) robust
''')

.
.     xtabond2 ly l.ly ln l.ln lk l.lk D85-D89, iv(D85-D89) gmm(l.ly) gmm(ln lk
> ) robust
Favoring space over speed. To switch, type or click on mata: mata set matafavor
>  speed, perm.
Warning: Two-step estimated covariance matrix of moments is singular.
  Using a generalized inverse to calculate robust weighting matrix for Hansen t
> est.
  Difference-in-Sargan/Hansen statistics may be negative.

Dynamic panel-data estimation, one-step system GMM
------------------------------------------------------------------------------
Group variable: id                              Number of obs      =      3444
Time variable : year                            Number of groups   =       492
Number of instruments = 101                     Obs per group: min =         7
Wald chi2(10) =  3.94e+06                                      avg =      7.00
Prob > chi2   =     0.000                                      max =         7
------------------------------------------------------------------------------
             |               Robust
          ly | Coefficient  std. err.      z    P>|z|     [95% conf. interval]
-------------+----------------------------------------------------------------
          ly |
         L1. |   .8929906   .0221431    40.33   0.000      .849591    .9363903
             |
          ln |
         --. |   .4235704   .0261299    16.21   0.000     .3723567     .474784
         L1. |  -.3513513   .0254912   -13.78   0.000    -.4013132   -.3013894
             |
          lk |
         --. |   .3056063   .0468686     6.52   0.000     .2137455    .3974671
         L1. |  -.2793262   .0479421    -5.83   0.000    -.3732911   -.1853614
             |
         D85 |  -.0145902   .0091882    -1.59   0.112    -.0325987    .0034182
         D86 |   .0044502   .0095962     0.46   0.643    -.0143581    .0232584
         D87 |   .0485603   .0084196     5.77   0.000     .0320582    .0650624
         D88 |    .035345   .0087457     4.04   0.000     .0182038    .0524861
         D89 |  -.0114121   .0096189    -1.19   0.235    -.0302647    .0074406
       _cons |   .1897415   .0434431     4.37   0.000     .1045947    .2748884
------------------------------------------------------------------------------
Instruments for first differences equation
  Standard
    D.(D85 D86 D87 D88 D89)
  GMM-type (missing=0, separate instruments for each period unless collapsed)
    L(1/7).(ln lk)
    L(1/7).L.ly
Instruments for levels equation
  Standard
    D85 D86 D87 D88 D89
    _cons
  GMM-type (missing=0, separate instruments for each period unless collapsed)
    D.(ln lk)
    D.L.ly
------------------------------------------------------------------------------
Arellano-Bond test for AR(1) in first differences: z =  -9.39  Pr > z =  0.000
Arellano-Bond test for AR(2) in first differences: z =  -1.13  Pr > z =  0.260
------------------------------------------------------------------------------
Sargan test of overid. restrictions: chi2(90)   = 360.70  Prob > chi2 =  0.000
  (Not robust, but not weakened by many instruments.)
Hansen test of overid. restrictions: chi2(90)   = 216.10  Prob > chi2 =  0.000
  (Robust, but weakened by many instruments.)

Difference-in-Hansen tests of exogeneity of instrument subsets:
  GMM instruments for levels
    Hansen test excluding group:     chi2(70)   = 177.62  Prob > chi2 =  0.000
    Difference (null H = exogenous): chi2(20)   =  38.48  Prob > chi2 =  0.008
  gmm(L.ly, lag(1 .))
    Hansen test excluding group:     chi2(63)   = 175.98  Prob > chi2 =  0.000
    Difference (null H = exogenous): chi2(27)   =  40.12  Prob > chi2 =  0.050
  gmm(ln lk, lag(1 .))
    Hansen test excluding group:     chi2(22)   = 118.38  Prob > chi2 =  0.000
    Difference (null H = exogenous): chi2(68)   =  97.72  Prob > chi2 =  0.011
  iv(D85 D86 D87 D88 D89)
    Hansen test excluding group:     chi2(85)   = 213.96  Prob > chi2 =  0.000
    Difference (null H = exogenous): chi2(5)    =   2.14  Prob > chi2 =  0.830


.

## Examples

In [16]:
import pandas as pd
import io
import requests

data = requests.get("https://www.stata.com/python/pystata/misc/nhanes2.csv").content
nhanes2 = pd.read_csv(io.StringIO(data.decode("utf-8")))
nhanes2

,sampl,strata,psu,region,smsa,location,houssiz,sex,race,age,...,region4,smsa1,smsa2,smsa3,rural,loglead,agegrp,highlead,bmi,highbp
0,1400,1,1,S,2,1,4,Male,White,54,...,0,0,1,0,0,NaN,50-59,NaN,20.495686,0
1,1401,1,1,S,2,1,6,Female,White,41,...,0,0,1,0,0,2.564949,40-49,lead<25,21.022337,0
2,1402,1,1,S,1,1,6,Female,Other,21,...,0,1,0,0,0,NaN,20-29,NaN,24.973860,0
3,1404,1,1,S,2,1,9,Female,White,63,...,0,0,1,0,0,NaN,60-69,NaN,35.728722,1
4,1405,1,1,S,1,1,3,Female,White,64,...,0,1,0,0,0,2.995732,60-69,lead<25,27.923803,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10346,48760,32,2,MW,4,48,5,Female,White,35,...,0,0,0,1,1,NaN,30-39,NaN,20.355173,0
10347,48763,32,2,MW,4,48,2,Female,White,33,...,0,0,0,1,1,1.945910,30-39,lead<25,41.645557,1
10348,48764,32,2,MW,4,48,1,Female,White,60,...,0,0,0,1,0,NaN,60-69,NaN,35.626114,0
10349,48768,32,2,MW,4,48,1,Female,White,29,...,0,0,0,1,0,NaN,20-29,NaN,19.204464,0
10350,48770,32,2,MW,4,48,1,Male,White,31,...,0,0,0,1,1,NaN,30-39,NaN,19.635565,0

In [17]:
%%stata -d nhanes2 -eret myeret

logistic highbp c.age##c.weight

ereturn list

.
. logistic highbp c.age##c.weight

Logistic regression                                    Number of obs =  10,351
                                                       LR chi2(3)    = 2381.23
                                                       Prob > chi2   =  0.0000
Log likelihood = -5860.1512                            Pseudo R2     =  0.1689

------------------------------------------------------------------------------
      highbp | Odds ratio   Std. err.      z    P>|z|     [95% conf. interval]
-------------+----------------------------------------------------------------
         age |   1.108531   .0080697    14.15   0.000     1.092827     1.12446
      weight |   1.081505    .005516    15.36   0.000     1.070748    1.092371
             |
       c.age#|
    c.weight |   .9992788   .0000977    -7.38   0.000     .9990873    .9994703
             |
       _cons |   .0002025   .0000787   -21.89   0.000     .0000946    .0004335
------------------------------------------------------------------------------
Note: _cons estimates baseline odds.

.
. ereturn list

scalars:
               e(rank) =  4
                  e(N) =  10351
                 e(ic) =  4
                  e(k) =  4
               e(k_eq) =  1
               e(k_dv) =  1
          e(converged) =  1
                 e(rc) =  0
                 e(ll) =  -5860.151218806021
         e(k_eq_model) =  1
               e(ll_0) =  -7050.765484416371
               e(df_m) =  3
               e(chi2) =  2381.2285312207
                  e(p) =  0
              e(N_cdf) =  0
              e(N_cds) =  0
               e(r2_p) =  .1688631210670459

macros:
            e(cmdline) : "logistic highbp c.age##c.weight"
                e(cmd) : "logistic"
            e(predict) : "logistic_p"
          e(estat_cmd) : "logit_estat"
          e(marginsok) : "default Pr"
       e(marginsnotok) : "stdp DBeta DEviance DX2 DDeviance Hat Number Resi.."
              e(title) : "Logistic regression"
           e(chi2type) : "LR"
                e(opt) : "moptimize"
                e(vce) : "oim"
               e(user) : "mopt__logit_d2()"
          e(ml_method) : "d2"
          e(technique) : "nr"
              e(which) : "max"
             e(depvar) : "highbp"
         e(properties) : "b V"

matrices:
                  e(b) :  1 x 4
                  e(V) :  4 x 4
                e(mns) :  1 x 4
              e(rules) :  1 x 4
               e(ilog) :  1 x 20
           e(gradient) :  1 x 4

functions:
             e(sample)

.

In [18]:
myeret

{'e(rank)': 4.0,
 'e(N)': 10351.0,
 'e(ic)': 4.0,
 'e(k)': 4.0,
 'e(k_eq)': 1.0,
 'e(noconstant)': 0.0,
 'e(consonly)': 0.0,
 'e(k_dv)': 1.0,
 'e(converged)': 1.0,
 'e(rc)': 0.0,
 'e(k_autoCns)': 0.0,
 'e(ll)': -5860.151218806021,
 'e(k_eq_model)': 1.0,
 'e(ll_0)': -7050.765484416371,
 'e(df_m)': 3.0,
 'e(chi2)': 2381.2285312207005,
 'e(p)': 0.0,
 'e(N_cdf)': 0.0,
 'e(N_cds)': 0.0,
 'e(r2_p)': 0.16886312106704593,
 'e(cmdline)': 'logistic highbp c.age##c.weight',
 'e(cmd)': 'logistic',
 'e(predict)': 'logistic_p',
 'e(estat_cmd)': 'logit_estat',
 'e(marginsderiv)': 'default Pr',
 'e(marginsok)': 'default Pr',
 'e(marginsnotok)': 'stdp DBeta DEviance DX2 DDeviance Hat Number Residuals RStandard SCore',
 'e(title)': 'Logistic regression',
 'e(chi2type)': 'LR',
 'e(opt)': 'moptimize',
 'e(vce)': 'oim',
 'e(user)': 'mopt__logit_d2()',
 'e(crittype)': 'log likelihood',
 'e(ml_method)': 'd2',
 'e(singularHmethod)': 'm-marquardt',
 'e(technique)': 'nr',
 'e(which)': 'max',
 'e(depvar)': 'highbp',
 'e(properties)': 'b V',
 'e(b)': array([[ 1.03035513e-01,  7.83537342e-02, -7.21492384e-04,
         -8.50485078e+00]]),
 'e(V)': array([[ 5.29930771e-05,  3.50509317e-05, -6.97861002e-07,
         -2.69423163e-03],
        [ 3.50509317e-05,  2.60132664e-05, -4.74084051e-07,
         -1.94299575e-03],
        [-6.97861002e-07, -4.74084051e-07,  9.55811835e-09,
          3.50377699e-05],
        [-2.69423163e-03, -1.94299575e-03,  3.50377699e-05,
          1.50887842e-01]]),
 'e(mns)': array([[4.75796541e+01, 7.18975210e+01, 3.43111878e+03, 1.00000000e+00]]),
 'e(rules)': array([[0., 0., 0., 0.]]),
 'e(ilog)': array([[-7050.76548442, -5886.45946636, -5860.19510263, -5860.15121903,
         -5860.15121881,     0.        ,     0.        ,     0.        ,
             0.        ,     0.        ,     0.        ,     0.        ,
             0.        ,     0.        ,     0.        ,     0.        ,
             0.        ,     0.        ,     0.        ,     0.        ]]),
 'e(gradient)': array([[5.49606417e-06, 8.04052639e-06, 5.24301984e-04, 8.32601173e-08]])}

In [19]:
from pystata import stata

In [20]:
stata.pdataframe_to_data(nhanes2, True)

In [ ]:

# Run Stata commands in Python
stata.run('''
        didregress (satisfaction_score) (procedure), ///
                group(hospital_id) time(month)
        ''', echo=True)